DEV_DB="Server=server,port;Initial Catalog=dbname;Persist Security Info=True;User ID=username;Password=password;Encrypt=True;TrustServerCertificate=true;MultipleActiveResultSets=True"
PROD_DB="Server=server,port;Initial Catalog=dbname;Persist Security Info=True;User ID=username;Password=password;Encrypt=True;TrustServerCertificate=true;MultipleActiveResultSets=True"